#header {
    background-image: url("Heart_Pink_Trans_1.png");
    background-repeat: no-repeat;
    background-size: contain;
    padding: 10px;
    margin-bottom: 30px;
}

.header-item {
    color: deeppink;
    margin-left: 180px;
}

.title {
    color: hotpink;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
}
.grid-item {
    background-color: lightgrey;
    padding: 0 15px 15px 15px;
    text-align: justify;
}

button {

}